.HomePage {
background: rgb(6, 6, 131);
    background: linear-gradient(122deg, rgba(6, 6, 131, 1) 0%, rgba(141, 0, 200, 1) 100%);
    min-height: 100vh;
    background-size: cover;
    // position: absolute;
    width: 100vw;
    // background-position: -300px;
    z-index: 0;
    left: 0; top: 0;

}